################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SqlCopy/v14
/packages
**/bin/
**/obj/